{% extends 'base.html' %}
{% block conteudo %} 
<main id="main" data-aos="fade" data-aos-delay="1500">
    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>{{categoria.titulo}}</h2>
                    <p>{{categoria.texto}}</p>
                    <a class="cta-btn" href="https://api.whatsapp.com/send?phone=5561983411859&text=Olá%20vim%20do%20seu%20site" target="_blank">
                        <i class="bi bi-whatsapp"></i> Disponível para contratação
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section id="gallery" class="gallery">
        <div class="container-fluid">
            <div class="row gy-4 justify-content-center">
                {% for post in posts %}
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <img src="{{url('uploads/imagens/thumbs/'~post.capa)}}" class="img-fluid" alt="">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="{{url('uploads/imagens/thumbs/'~post.capa)}}" title="{{post.titulo}}" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                            <a href="{{url('post/'~post.categoria.slug~'/'~post.slug)}}" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {{paginacao|raw}}
    <div class="text-center">
        <small class="lead">{{paginacaoInfo}}</small>
    </div>
</main>
{% endblock %}


