{% extends 'base.html' %}
{% block conteudo %} 

<main id="main" data-aos="fade" data-aos-delay="1500">
    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Contato</h2>
                    <p>Estamos aqui para ajudar. Entre em contato conosco se tiver alguma dúvida ou precisar de mais informações.</p>
                </div>
            </div>
        </div>
    </div><!-- End Page Header -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="row gy-4 justify-content-center">

                <div class="col-lg-3">
                    <div class="info-item d-flex">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h4>Endereço:</h4>
                            <p>Planaltina, GO</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-lg-3">
                    <div class="info-item d-flex">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h4>Email:</h4>
                            <p>contato@devmorais.com.br</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-lg-3">
                    <div class="info-item d-flex">
                        <i class="bi bi-phone flex-shrink-0"></i>
                        <div>
                            <h4>Telefone:</h4>
                            <p>(61) 9 8341-1859</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

            </div>

            <div class="row justify-content-center mt-4">

                <div class="col-lg-9">
                    <form class="formularioAjax php-email-form" method="post" action="{{url('contato')}}" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="nome" id="nome" class="form-control"  placeholder="Seu Nome" >
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="text" class="form-control" name="email" id="email" placeholder="Seu Email" >
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="assunto" id="assunto" placeholder="Assunto" >
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="mensagem" id="mensagem" rows="5" placeholder="Mensagem" ></textarea>
                        </div>
                        <div class="form-group mt-3">
                            <label for="anexos" class="custom-file-upload" id="customFileUpload">
                                <input type="file" name="anexos[]" multiple id="anexos" accept="" class="form-control" style="display: none;">
                                Escolher Arquivos
                            </label>
                            <div id="fileNames"></div> <!-- Elemento para exibir os nomes dos arquivos -->
                        </div>
                        <div class="text-center"><button type="submit">Enviar Mensagem</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main><!-- End #main -->

{% endblock %}
