{% extends 'base.html' %}
{% block conteudo %} 

<main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Serviços</h2>
                    <p>
                        Desenvolvo, analiso e planejo o desenvolvimento de software. Executo os processos de codificação, manutenção e documentação de aplicativos tanto para desktops quanto para dispositivos móveis e web. Sou hábil em executar testes e implementar soluções personalizadas, além de desenvolver e organizar elementos estruturais de sites. Estou sempre disponível para novos desafios e oportunidades de trabalho freelance.
                    </p>
                    <a class="cta-btn" href="https://api.whatsapp.com/send?phone=5561983411859&text=Olá%20vim%20do%20seu%20site" target="_blank">
                        <i class="bi bi-whatsapp"></i> Disponível para contratação
                    </a>
                </div>
            </div>
        </div>
    </div><!-- End Page Header -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="row gy-4">

                <div class="col-xl-3 col-md-6 d-flex">
                    <div class="service-item position-relative">
                        <i class="bi bi-laptop"></i>
                        <h4><a href="#" class="stretched-link">Desenvolvimento de Software</a></h4>
                        <p>Conceber, analisar e planejar o desenvolvimento de software personalizado para atender às necessidades específicas de cada projeto.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex">
                    <div class="service-item position-relative">
                        <i class="bi bi-code-slash"></i>
                        <h4><a href="#" class="stretched-link">Codificação e Manutenção</a></h4>
                        <p>Executar processos de codificação, manutenção e documentação de aplicativos para desktops, dispositivos móveis e web.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex">
                    <div class="service-item position-relative">
                        <i class="bi bi-check2-all"></i>
                        <h4><a href="#" class="stretched-link">Testes e Implementação</a></h4>
                        <p>Realizar testes rigorosos e implementar soluções eficazes para garantir a funcionalidade e qualidade dos aplicativos desenvolvidos.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex">
                    <div class="service-item position-relative">
                        <i class="bi bi-layout-text-sidebar-reverse"></i>
                        <h4><a href="#" class="stretched-link">Design e Organização Web</a></h4>
                        <p>Desenvolver e organizar elementos estruturais de sites, garantindo uma experiência de usuário aprimorada.</p>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container">

            <div class="section-header">
                <h2>Preços</h2>
                <p>Confira minha tabela de preços</p>
            </div>

            <div class="row gy-4 gx-lg-5">
                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>Arte Individual/Unitária</h3>
                        <h4>R$ 50,00</h4>
                    </div>
                </div><!-- End Pricing Item -->

                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>Formato Diferente da Mesma Arte</h3>
                        <h4>R$ 20,00</h4>
                    </div>
                </div><!-- End Pricing Item -->

                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>Carrossel com 6 Artes</h3>
                        <h4>R$ 200,00</h4>
                    </div>
                </div><!-- End Pricing Item -->

                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>Logo Animada ou Vídeo Animado (Motion)</h3>
                        <h4>R$ 150,00</h4>
                    </div>
                </div><!-- End Pricing Item -->

                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>Logo para Empresa</h3>
                        <h4>R$ 150,00</h4>
                    </div>
                </div><!-- End Pricing Item -->

                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>Pacote de Identidade Visual</h3>
                        <h4>R$ 300,00</h4>
                    </div>
                </div><!-- End Pricing Item -->

                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>Pacote de 10 Artes</h3>
                        <h4>R$ 300,00</h4>
                    </div>
                </div><!-- End Pricing Item -->
            </div>
        </div>
    </section><!-- End Pricing Section -->
</main>


{% endblock %}
