{% extends 'base.html' %}
{% block conteudo %} 

<main id="main" data-aos="fade" data-aos-delay="1500">
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Sobre Mim</h2>
                    <p>
                        Sou um profissional apaixonado por desenvolvimento de software e design, buscando constantemente aprender e me atualizar. Com formação pelo Senac-DF e especialização em linguagens como PHP, JavaScript e MySQL, tenho experiência sólida em conceber, analisar e planejar o desenvolvimento de software.
                    </p>
                    <p>
                        Executo processos de codificação, manutenção e documentação de aplicativos tanto para desktops quanto para dispositivos móveis e web. Sou hábil em executar testes e implementar soluções personalizadas, além de desenvolver e organizar elementos estruturais de sites.
                    </p>
                    <p>
                        Estou sempre disponível para novos desafios e oportunidades de trabalho freelance.
                    </p>
                    <a class="cta-btn" href="https://api.whatsapp.com/send?phone=5561983411859&text=Olá%20vim%20do%20seu%20site" target="_blank">
                        <i class="bi bi-whatsapp"></i> Disponível para contratação
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}