<div class="bg-white p-4 my-3 rounded">
    <h5 class="pb-3"> 
        <i class="fa-solid fa-user me-2"></i> Minha Conta
    </h5> 

    <ul class="list-group list-group-flush">
        <li class="list-group-item border-0">
            <a href="{{url('saas')}}" tooltip="tooltip" title="Meus dados">
                Meus dados
            </a>
        </li>
        <li class="list-group-item border-0">
            <a href="#" tooltip="tooltip" title="Alterar meu e-mail">
                Alterar meu e-mail
            </a>
        </li>
        <li class="list-group-item border-0">
            <a href="#" tooltip="tooltip" title="Alterar minha senha">
                Alterar senha
            </a>
        </li>
    </ul>

    <h5 class="my-3 pt-3 border-top"> 
        <i class="fa-solid fa-house-user me-2"></i> Endereços
    </h5> 
    <ul class="list-group list-group-flush">
        <li class="list-group-item border-0">
            <a href="#" tooltip="tooltip" title="Meus endereços">
                Meus endereços
            </a>
        </li>
    </ul>

</div>

<div class="bg-white p-3 my-3 rounded">
    <ul class="list-group list-group-flush">
        <li class="list-group-item border-0">
            <i class="fa-solid fa-arrow-right-from-bracket me-2 fs-5"></i>
            <a href="{{url('saas/sair')}}" tooltip="tooltip" title="Sair">
                 Sair
            </a>
        </li>
    </ul>
</div>